/*
.shiny-output-error { visibility: hidden; }
.shiny-output-error:before { visibility: hidden; }
 */

#aboutContentArea{
    max-width: 70rem;
}
#notes {
    font-weight: 600;
    font-size: 18px;
}
#forecaster-input {
    font-weight:normal;
    font-size:13px;
}
#missing-data-disclaimer {
    margin-top:-20px;
    font-size:12px;
}
#horizon-disclaimer {
    margin-top:-10px;
    font-size:12px;
}
#drag-to-zoom {
    font-size:11px;
}
#refresh-colors {
    height: 26px;
    font-size: 12px;
}
#scale-score {
    font-weight: bold;
}
#data-loading-message {
    font-style: italic;
    font-size: 18px;
}
#truth-plot-loading-message {
    margin-top:50px;
    font-size: 18px;
    font-style:italic;
    color: #949494;
}
