#logo{
    min-width: 220px;
}
#aboutContentArea{
    max-width: 600px;
}
#header{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 5px;
    margin-top: 20px;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 15%);

    font-family: "open sans", Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #505565;
}
#github-logo {
    color: #505565;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

#github-logo svg {
    width:16px;
    height:16px;
    fill: #505565;
}
#github-logo-container {
    display: flex;
    justify-content: flex-end;
}
